CONFIG_HANDHELD_LOCAL_BNO085_LCD_TEST=y
CONFIG_HANDHELD_LOCAL_10FPS_TEST=y
CONFIG_HANDHELD_LCD_PIXEL_CLOCK_MHZ=12
CONFIG_BNO085_I2C_ADDRESS=0x4B
CONFIG_BNO085_I2C_SPEED_HZ=100000
CONFIG_BNO085_REPORT_INTERVAL_US=20000
CONFIG_BNO085_LCD_REPORT_INTERVAL_US=20000
CONFIG_BNO085_INT_POLLING=y
CONFIG_BNO085_REPORT_GAME_ROTATION_VECTOR=y
